*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*Barra de navegacion*/
.BarraNavegacion{
    background: #1e2326;
    color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 10px 15px;
    font-size: small;
}
.BarraNavegacion ul{
    display: flex;
    list-style: none;
}
.BarraNavegacion ul li a{
    color: white;
    text-decoration: none;
    text-align: none;
    margin-right: 15px;
    margin-left: 3px;
    transition: .5s;
}

.BarraNavegacion ul li a:hover{
    color: lightgray;
}
/*Inicio*/
.Inicio{
    background:#1e2326;
    display: flex;
    align-items: center;
    height: 100vh;
    background-size: cover;
}
.Inicio .Inicio_Banner{
    padding: 20px;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.Inicio .Inicio_Banner{
    background: #1e2326;
}

.Inicio .Inicio_Img img{
    border-radius: 100%;
    display: flex;
    width: 80%;
    margin: auto;
}
.Inicio .Inicio_Banner h3{
   margin-top: 20px;
   color: white;
}

/*Sobre mi*/
.Aboutme{
    background-color: #1e2326;
    padding: 20px 20px;
    color: white;
}
.Aboutme .Contenedor_Aboutme{
    margin: auto;
}
.Aboutme .Contenedor_Aboutme h2{
    text-align: center;
    padding-bottom: 20px;
    
}
.Aboutme .Contenedor_Aboutme p{
    text-align: center;
    color: darkred;
}
.Aboutme .Contenedor_Aboutme span {
    color: white;
}